@mixin button {
  font-weight: 600;
  font-size: 16px;
}

.primary-button {
  @include button;
  width: fit-content;
  height: fit-content;
  padding: 16px 36px;
  border-radius: var(--small-border-radius);
  background-color: var(--background-button-color);
  color: var(--font-button-color);
}

.primary-button:disabled {
  background-color: var(--font-button-color);
  color: var(--background-button-color);
  cursor: default;
}

.inverted-button {
  @include button;
  width: 157px;
  height: 44px;
  line-height: 20px;
  letter-spacing: 1.2%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--font-button-color);
  color: var(--background-button-color);
  border-radius: var(--small-border-radius);
}
