@use "fonts";
@use "normailze";
@use "button";
@use "hgroup";
@use "messages";
@use "message";
@use "main-background-color";
@use "vars";

@use "search";
@use "hike";
@use "offer";
@use "destinations";
@use "travels";
@use "photo-report";

* {
  font-family: 'Nunito Sans', serif;
}

a {
  cursor: pointer;
}

.frame_with_img > img {


    overflow: hidden;
    border-radius: var(--border-radius);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.display_none {
  display: none;
}

.text {
  color: var(--primary-font-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}


.content-block {
  margin-block: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
