
<app-header [companyName]="companyName"></app-header>

<div class="messages">
  @for (msg of displayMessagingService.messages; track msg.id) {
    <ng-container
      *ngTemplateOutlet="messageTemplate; context: { $implicit: msg }">
    </ng-container>
  }
</div>

<ng-template #messageTemplate let-msg>
  <div class="message">
    <button
      class="message__button"
      (click)="displayMessagingService.closeMessages(msg.id)"
      [id]="`close_message_button_${msg.id}`">
      <img alt="Close message button" src="/icon/сlose-button_icon.svg">
    </button>
    <img class="message__img" alt="envelope" src="/icon/envelope_icon.svg"/>
    <h3 class="message__title">{{ msg.type }}</h3>
    <p class="message__content">{{ msg.message }}</p>
  </div>
</ng-template>

<main>
<router-outlet></router-outlet>
</main>

<app-footer></app-footer>
