a {
  cursor: pointer;
}

.container {
  width: 1180px;
  margin: 0 auto;
}

.hgroup {
  p {
    color: var(--secondary-font-color);
    font-size: 24px;
    line-height: 20px;
    font-weight: 400;
  }

  h2 {
    margin-top: 8px;
    color: var(--primary-font-color);
    font-size: 32px;
    font-weight: 800;
    line-height: 120%;
  }
}

.text {
  color: var(--primary-font-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

main > div:nth-child(odd) {
  background-color: var(--secondary-block-color);
}


.content-block {
  margin-block: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.flower-visual {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;


  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  img:nth-child(1),
  img:nth-child(4) {
    border-top-right-radius: var(--petal-border-radius);
    border-bottom-left-radius: var(--petal-border-radius);
  }

  img:nth-child(2),
  img:nth-child(3) {
    border-top-left-radius: var(--petal-border-radius);
    border-bottom-right-radius: var(--petal-border-radius);
  }
}
