

<div class="subscribe-section">
  <div class="subscribe-card container">
    <hgroup class="hgroup_start">
      <p>актуально</p>
      <h2>Получайте полезные рассылки о путешествиях</h2>
    </hgroup>

      <form id="subscribe__form">
        <label for="email">Введите e-mail адрес</label>
        <input
          type="email"
          id="email"
          placeholder="name@domain.com"
        >
        <button class="primary-button" id="subscribe-button">Подписаться на новости</button>
      </form>
    <p>подписываясь на новости, вы автоматически соглашаетесь с
      <span>условиями обработки персональных данных</span> и <span>правилами рекламных рассылок</span></p>
  </div>
</div>

<footer class="footer">

</footer>
